:root {
    --background-color: #1d3557;
    --text-color: #ffffff;
    --hover-color: #ffff3f;
}


.logincontainer{
    max-width: 700px;
    margin: auto;
    padding:1rem;
}

.logincontainer h1{
    padding: 1rem;
    background-color: var(--background-color);
    color: var(--text-color);
}

.loginarticle{
    padding: 1rem;
    margin: auto;
}

.loginarticle div{
    padding:0.2rem;
}
.loginarticle div input{
    border:1px solid var(--background-color);
    color: var(--background-color);
}
.loginarticle div input:hover{
    border: 3px solid var(--hover-color);
}