:root {
    --background-color: #1d3557;
    --text-color: #ffffff;
    --hover-color: #ffff3f;
}
body {
    margin: 0;
    padding: 0;
    /* color: var(--text-color) !important; */
}

nav {
    text-align: center;
    background: var(--background-color);
    color: var(--text-color);
}

.navbar {
    display: flex ;
    padding: 1rem 1rem;
}

.navbar>div {
    flex: 0.5;
    /* text-align: center; */
}

.navbar > .nav-ele{
    /* margin-top: 2rem;  */
    text-align: right;
}
.list:hover {
    color: var(--hover-color);
}
