<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href="loginstyle.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar">
        <i class="fa fa-bars" id="bars"></i>
        <i class="fa fa-times" id="times"></i>
        <!-- <div class="logo-align">
                <img src="logo-design.svg" id="logo">
            </div> -->
        <div>
            <h1 class="site-name"><a href="/index.html">Book Store</a></h1>
        </div>
        <div class="nav-ele">
            <ul>
                <li class="list"><i class="fa fa-user"></i><a href="/products/user-login.html">Login</a></li>
                <li class="list"><i class="fa fa-shopping-cart"></i>Cart</li>
                <li class="list"><a href="/products/about-us.html">About Us</a></li>
            </ul>
        </div>
    </nav>

    <main>
        <h1>About US</h1>
    </main>

    <footer>
        <div class="container text-center">
            <div class="row">
                <div class="col-md-3">
                    <h1>Useful Links</h1>
                    <p>Privacy Policy</p>
                    <p>Terms of Use</p>
                    <p>Return Policy</p>
                    <p>Discount Coupons</p>
                </div>
                <div class="col-md-3">
                    <h1>Company</h1>
                    <p>About Us</p>
                    <p>Contact Us</p>
                    <p>Career</p>
                    <p>Affiliate</p>
                </div>
                <div class="col-md-3">
                    <h1>Follow Us on</h1>
                    <p><i class="fa fa-twitter"></i> Twitter</p>
                    <p><i class="fa fa-linkedin"></i> Linkedin</p>
                    <p><i class="fa fa-github"></i> Github</p>
                    <p><i class="fa fa-youtube-play"></i> YouTube</p>
                </div>
                <div class="col-md-3">
                    <h1>Address</h1>
                    <p>Mhada colony, Near International Airport, Aurangabad, Mhaharashtra, India 431001</p>
                    <hr>
                    <p class="regards">Made with <i class="fa fa-heart-o"></i> Priya Kothalkar</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="script.js" type="text/javascript"></script>
</body>

</html>