<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>arts of luca</title>
    <link href="loginstyle.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar">
        <i class="fa fa-bars" id="bars"></i>
        <i class="fa fa-times" id="times"></i>
        <!-- <div class="logo-align">
            <img src="logo-design.svg" id="logo">
        </div> -->
        <div>
            <h1 class="site-name"><a href="index.hbs">Book Store</a></h1>
        </div>
        <div class="nav-ele">
            <ul>
                <li class="list"><i class="fa fa-user"></i><a href="register.hbs">Login</a></li>
                <li class="list"><i class="fa fa-shopping-cart"></i>Cart</li>
                <li class="list"><a href="about-us.hbs">About Us</a></li>
            </ul>
        </div>
    </nav>

    <section class="single-product">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div id="product-slider" class="carousel slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="art of luca.jpg" class="d-block w-100">
                            </div>
                            <div class="carousel-item">
                                <img src="art of luca.jpg" class="d-block w-100">
                            </div>
                            <div class="carousel-item">
                                <img src="art of luca.jpg" class="d-block w-100">
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#product-slider"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#product-slider"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <p class="new-arrival text-center">New</p>
                    <h2>The Arts Of Luca</h2>
                    <p>By: Enrico Casarosa (Foreword) , Daniela Strijleva (Introduction)</p>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <p class="price">Rs.2550</p>
                    <p><b>Availability:</b> In Stock</p>
                    <p><b>Condition:</b> New</p>
                    <p><b>Brand:</b> Chronicle Books</p>
                    <label>Quantity:</label>
                    <input type="number" value="1" />
                    <button type="button" class="btn btn-primary">Add to Cart</button>
                </div>
            </div>
        </div>
    </section>

    {{!-- ----product-description------- --> --}}
    <section class="product-description">
        <div class="container">
            <h6> Product Description</h6>
            <p>This vibrant volume is an exclusive look behind the scenes of Disney and Pixar's original feature film
                Luca.
                The Art of Luca explores the stunning visuals of the coming-of-age story, set in a beautiful seaside
                town on the Italian
                Riviera. Readers get a front-row view at never-before-seen development art, character sketches,
                storyboards, color
                scripts, and interviews with the creators. </p>
            <p>
            <ul>
                <li>Behind the scenes of the making of Disney and Pixar's Luca</li>
                <li>Features colorful concept art and character explorations from the movie</li>
                <li>Includes fascinating facts and details from the creative team</li>
            </ul>
            </p>
            <p>In the animated film, Luca and his newfound best friend are sharing an unforgettable summer and a
                deeply-held secret:
                they are sea monsters from a world just below the water's surface.</p>
            <p>For aspiring artists, animators, and fans alike, The Art of Luca is part of the acclaimed ART OF series,
                inviting
                audiences behind the scenes of their favorite animated films.</p>
            <hr>

        </div>
        <div class="container">
            <div class="title-box">
                <h2>Similar Products</h2>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="product-top">
                        <a href="arts_of_luca.hbs"><img src="art of luca.jpg"></a>
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick shop ">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to wishlist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to cart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <h3>The Art of Luca</h3>
                        <h5>Rs. 2550</h5>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-top">
                        <a href="avtar.hbs"><img src="avatar.jpg"></a>
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick shop ">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to wishlist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to cart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <i class="fa fa-star-o"></i>
                        <h3>Avatar: The Last Airbender--The Rift Omnibus</h3>
                        <h5>Rs.1223</h5>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-top">
                        <a href="from_a_mountain.hbs"><img
                                src="from a mountain in tibet.jpg"></a>
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick shop ">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to wishlist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to cart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <h3>From a Mountain in Tibet</h3>
                        <h5>Rs.517</h5>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-top">
                        <a href="hungry_hearts.hbs"><img src="hungry hearts.jpg"></a>
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick shop ">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to wishlist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to cart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <h3>Hungry Hearts</h3>
                        <h5>Rs.391</h5>

                    </div>
                </div>
            </div>
        </div>
    </section>




    {{!-- footer --}}
    <footer>
        <div class="container text-center">
            <div class="row">
                <div class="col-md-3">
                    <h1>Useful Links</h1>
                    <p>Privacy Policy</p>
                    <p>Terms of Use</p>
                    <p>Return Policy</p>
                    <p>Discount Coupons</p>
                </div>
                <div class="col-md-3">
                    <h1>Company</h1>
                    <p>About Us</p>
                    <p>Contact Us</p>
                    <p>Career</p>
                    <p>Affiliate</p>
                </div>
                <div class="col-md-3">
                    <h1>Follow Us on</h1>
                    <p><i class="fa fa-twitter"></i> Twitter</p>
                    <p><i class="fa fa-linkedin"></i> Linkedin</p>
                    <p><i class="fa fa-github"></i> Github</p>
                    <p><i class="fa fa-youtube-play"></i> YouTube</p>
                </div>
                <div class="col-md-3">
                    <h1>Address</h1>
                    <p>Mhada colony, Near International Airport, Aurangabad, Mhaharashtra, India 431001</p>
                    <hr>
                    <p class="regards">Made with <i class="fa fa-heart-o"></i> Priya Kothalkar</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="script.js" type="text/javascript"></script>


</body>

</html>