<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Building a Life worthy</title>
    <link href="loginstyle.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar">
        <i class="fa fa-bars" id="bars"></i>
        <i class="fa fa-times" id="times"></i>
        <div>
            <h1 class="site-name"><a href="index.hbs">Book Store</a></h1>
        </div>
        <div class="nav-ele">
            <ul>
                <li class="list"><i class="fa fa-user"></i><a href="register.hbs">Login</a></li>
                <li class="list carts"><i class="fa fa-shopping-cart"></i><a href="cart.hbs">Cart <span> 0</span></a>
                </li>
                <li class="list"><a href="about-us.hbs">About Us</a></li>
            </ul>
        </div>
    </nav>

    <section class="single-product">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div id="product-slider" class="carousel slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="building a life worth.jpg" class="d-block w-100">
                            </div>
                            <div class="carousel-item">
                                <img src="building a life worth.jpg" class="d-block w-100">
                            </div>
                            <div class="carousel-item">
                                <img src="building a life worth.jpg" class="d-block w-100">
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#product-slider"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#product-slider"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <p class="new-arrival text-center">New</p>
                    <h2>Building a Life Worth Living</h2>
                    <p>By: Marsha M Linehan (Author) </p>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <p class="price">Rs.419</p>
                    <p><b>Availability:</b> In Stock</p>
                    <p><b>Condition:</b> New</p>
                    <p><b>Brand:</b> Random House Publishing Group</p>
                    <label>Quantity:</label>
                    <input type="number" value="1" />
                    <button type="button" class="add-cart cart1 btn btn-secondary" title="Add to cart">
                        Add to Cart<i class="fa fa-shopping-cart"></i>
                    </button>
                </div>
            </div>
        </div>
    </section>

    {{!-- ----product-description------- --> --}}
    <section class="product-description">
        <div class="container">
            <h6> Product Description</h6>
            <p><b>Marsha Linehan tells the story of her journey from suicidal teenager to world-renowned developer of
                    the life-saving
                    behavioral therapy DBT, using her own struggle to develop life skills for others.
                    "This book is a victory on both sides of the page."--Gloria Steinem</b></p>
            <p>"Are you one of us?" a patient once asked Marsha Linehan, the world-renowned psychologist who developed
                Dialectical
                Behavior Therapy. "Because if you were, it would give all of us so much hope."</p>
            <p>Over the years, DBT had saved the lives of countless people fighting depression and suicidal thoughts,
                but Linehan had
                never revealed that her pioneering work was inspired by her own desperate struggles as a young woman.
                Only when she
                received this question did she finally decide to tell her story.</p>
            <p>In this remarkable and inspiring memoir, Linehan describes how, when she was eighteen years old, she
                began an abrupt
                downward spiral from popular teenager to suicidal young woman. After several miserable years in a
                psychiatric institute,
                Linehan made a vow that if she could get out of emotional hell, she would try to find a way to help
                others get out of
                hell too, and to build a life worth living. She went on to put herself through night school and college,
                living at a
                YWCA and often scraping together spare change to buy food. She went on to get her PhD in psychology,
                specializing in
                behavior therapy. In the 1980s, she achieved a breakthrough when she developed Dialectical Behavioral
                Therapy, a
                therapeutic approach that combines acceptance of the self and ways to change. Linehan included
                mindfulness as a key
                component in therapy treatment, along with original and specific life-skill techniques. She says, You
                can't think
                yourself into new ways of acting; you can only act yourself into new ways of thinking.</p>
            <hr>

        </div>
        <div class="container">
            <div class="title-box">
                <h2>Similar Products</h2>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="product-top">
                        <a href="building_a_life.hbs"><img src="building a life worth.jpg">
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick shop ">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to wishlist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to cart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                        </a>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <h3>Building a Life Worth Living</h3>
                        <h5>Rs.419</h5>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-top">
                        <a href="voice_of_human.hbs"><img src="voice of human.jpg">
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick shop ">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to wishlist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to cart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                        </a>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <i class="fa fa-star-o"></i>
                        <h3>The VOice OF Human Justice</h3>
                        <h5>Rs.1361</h5>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-top">
                        <a href="from_a_mountain.hbs"><img src="from a mountain in tibet.jpg">
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick shop ">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to wishlist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to cart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                        </a>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <h3>From a Mountain in Tibet</h3>
                        <h5>Rs.517</h5>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-top">
                        <a href="hungry_hearts.hbs"><img src="hungry hearts.jpg">
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick shop ">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to wishlist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to cart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                        </a>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <h3>Hungry Hearts</h3>
                        <h5>Rs.391</h5>

                    </div>
                </div>
            </div>
        </div>
    </section>



    <footer>
        <div class="container text-center">
            <div class="row">
                <div class="col-md-3">
                    <h1>Useful Links</h1>
                    <p>Privacy Policy</p>
                    <p>Terms of Use</p>
                    <p>Return Policy</p>
                    <p>Discount Coupons</p>
                </div>
                <div class="col-md-3">
                    <h1>Company</h1>
                    <p>About Us</p>
                    <p>Contact Us</p>
                    <p>Career</p>
                    <p>Affiliate</p>
                </div>
                <div class="col-md-3">
                    <h1>Follow Us on</h1>
                    <p><i class="fa fa-twitter"></i> Twitter</p>
                    <p><i class="fa fa-linkedin"></i> Linkedin</p>
                    <p><i class="fa fa-github"></i> Github</p>
                    <p><i class="fa fa-youtube-play"></i> YouTube</p>
                </div>
                <div class="col-md-3">
                    <h1>Address</h1>
                    <p>Mhada colony, Near International Airport, Aurangabad, Mhaharashtra, India 431001</p>
                    <hr>
                    <p class="regards">Made with <i class="fa fa-heart-o"></i> Priya Kothalkar</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="script.js" type="text/javascript"></script>
</body>

</html>