<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Store</title>
    <link href="loginstyle.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar">
        <i class="fa fa-bars" id="bars"></i>
        <i class="fa fa-times" id="times"></i>
        <div>
            <h1 class="site-name"><a href="index.hbs">Book Store</a></h1>
        </div>
        <div class="nav-ele">
            <ul>
                <li class="list"><i class="fa fa-user"></i><a href="register.hbs">Login</a></li>
                <li class="list carts"><i class="fa fa-shopping-cart"></i><a href="cart.hbs">Cart <span> 0</span></a></li>
                <li class="list"><a href="about-us.hbs">About Us</a></li>
            </ul>
        </div>
    </nav>
    
    <main>
        <section class="side-bar" id="sidemenu">
            <ul>
                <li class="list-ele">Books
                    <i class="fa fa-angle-right"></i>
                    <ul>
                        <li class="list-ele"><a href="arts-and-photo.hbs">Arts and Photography</a></li>
                        <li class="list-ele"><a href="biography.hbs">Biographies and Memoirs</a></li>
                        <li class="list-ele"><a href="body-mind.hbs">Body, Mind and spitit</a></li>
                        <li class="list-ele"><a href="business-and-economics.hbs">Business and Economics</a></li>
                        <li class="list-ele"><a href="environment.hbs">Environment and Geography</a></li>
                        <li class="list-ele"><a href="lifestyle.hbs">Lifestyle</a></li>
                        <li class="list-ele"><a href="fiction.hbs">Fiction</a></li>
                        <li class="list-ele"><a href="travel-and-holiday.hbs">Travel and Holiday</a></li>
                    </ul>
                </li>
                <li class="list-ele">Text Books
                    <i class="fa fa-angle-right"></i>
                    <ul>
                        <li class="list-ele"><a href="stream-computer-science.hbs"> Computer Science and Engineering</a></li>
                        <li class="list-ele">Civil Engineering</li>
                        <li class="list-ele">Mechanical Engineering</li>
                        <li class="list-ele">Electronics and Telecommunication Engineering</li>
                    </ul>
                </li>
                <li class="list-ele">MBA</li>
                <li class="list-ele">Mtech</li>
            </ul>
            </section>

        <section class="slider">
            <div id="slider" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="image1.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                        <img src="image2.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                        <img src="image3.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                        <img src="image4.jpg" class="d-block w-100">
                    </div>
                </div>
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#slider" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#slider" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#slider" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#slider" data-bs-slide-to="3" aria-label="Slide 4"></button>
                </div>
            </div>
        </section>

        <section class="featured-categories">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <a href="compiler-design.hbs"><img src="compiler design.jpg"></a>
                    </div>
                    <div class="col-md-4">
                        <a href="computer-science.hbs"> <img src="computer-science-500x500.png"></a>
                    </div>
                    <div class="col-md-4">
                        <a href="data-structures.hbs"> <img src="data structures.jpg"></a>
                    </div>
                </div>
            </div>
        </section>

        <section class="on-sale">
            <div class="container">
                <div class="title-box">
                    <h2>On Sale</h2>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="product-top">
                            <a href="operating.system.hbs"><img src="operating system.jpg"></a>
                            <div class="overlay-right">
                                <button type="button" class="btn btn-secondary" title="Quick shop ">
                                    <i class="fa fa-eye"></i>
                                </button>
                                <button type="button" class="btn btn-secondary" title="Add to wishlist">
                                    <i class="fa fa-heart-o"></i>
                                </button>
                                <button type="button" class="add-cart cart1 btn btn-secondary" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                            </div>
                            
                        </div>
                        <div class="product-bottom text-center">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <h3>Operating Systems </h3>
                            <h5>Rs. 450</h5>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-top">
                            <a href="system-programming.hbs"><img src="system programming.jpg"></a>
                            <div class="overlay-right">
                                <button type="button" class="btn btn-secondary" title="Quick shop ">
                                    <i class="fa fa-eye"></i>
                                </button>
                                <button type="button" class="btn btn-secondary" title="Add to wishlist">
                                    <i class="fa fa-heart-o"></i>
                                </button>
                                <button type="button" class="add-cart cart2 btn btn-secondary" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                            </div>
                        </div>
                        <div class="product-bottom text-center">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <i class="fa fa-star-o"></i>
                            <h3>System programming</h3>
                            <h5>Rs.400</h5>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-top">
                            <a href="compiler-design.hbs"><img src="compiler design.jpg"></a>
                            <div class="overlay-right">
                                <button type="button" class="btn btn-secondary" title="Quick shop ">
                                    <i class="fa fa-eye"></i>
                                </button>
                                <button type="button" class="btn btn-secondary" title="Add to wishlist">
                                    <i class="fa fa-heart-o"></i>
                                </button>
                                <button type="button" class="add-cart cart3 btn btn-secondary" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                            </div>
                        </div>
                        <div class="product-bottom text-center">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <h3>Compiler Design </h3>
                            <h5>Rs.400</h5>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-top">
                            <a href="computer-science.hbs"><img src="computer-science-500x500.png"></a>
                            <div class="overlay-right">
                                <button type="button" class="btn btn-secondary" title="Quick shop ">
                                    <i class="fa fa-eye"></i>
                                </button>
                                <button type="button" class="btn btn-secondary" title="Add to wishlist">
                                    <i class="fa fa-heart-o"></i>
                                </button>
                                <button type="button" class="add-cart cart4 btn btn-secondary" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                            </div>
                        </div>
                        <div class="product-bottom text-center">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <h3>Computer science</h3>
                            <h5>Rs.550</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {{!--  ------------New product---------------  --}}
        <section class="new-products">
            <div class="container">
                <div class="title-box">
                    <h2>New Arrivals</h2>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="product-top">
                            <a href="operating.system.hbs"><img src="operating system.jpg"></a>
                            <div class="overlay-right">
                                <button type="button" class="btn btn-secondary" title="Quick shop ">
                                    <i class="fa fa-eye"></i>
                                </button>
                                <button type="button" class="btn btn-secondary" title="Add to wishlist">
                                    <i class="fa fa-heart-o"></i>
                                </button>
                                <button type="button" class="btn btn-secondary" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                            </div>
                        </div>
                        <div class="product-bottom text-center">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <h3>Operating Systems </h3>
                            <h5>Rs. 450</h5>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-top">
                            <a href="system-programming.hbs"> <img src="system programming.jpg"></a>
                            <div class="overlay-right">
                                <button type="button" class="btn btn-secondary" title="Quick shop ">
                                    <i class="fa fa-eye"></i>
                                </button>
                                <button type="button" class="btn btn-secondary" title="Add to wishlist">
                                    <i class="fa fa-heart-o"></i>
                                </button>
                                <button type="button" class="btn btn-secondary" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                            </div>
                        </div>
                        <div class="product-bottom text-center">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <i class="fa fa-star-o"></i>
                            <h3>System programming</h3>
                            <h5>Rs.400</h5>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-top">
                            <a href="compiler-design.hbs"> <img src="compiler design.jpg"></a>
                            <div class="overlay-right">
                                <button type="button" class="btn btn-secondary" title="Quick shop ">
                                    <i class="fa fa-eye"></i>
                                </button>
                                <button type="button" class="btn btn-secondary" title="Add to wishlist">
                                    <i class="fa fa-heart-o"></i>
                                </button>
                                <button type="button" class="btn btn-secondary" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                            </div>
                        </div>
                        <div class="product-bottom text-center">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <h3>compiler Design </h3>
                            <h5>Rs.400</h5>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-top">
                            <a href="computer-science.hbs"> <img src="computer-science-500x500.png"></a>
                            <div class="overlay-right">
                                <button type="button" class="btn btn-secondary" title="Quick shop ">
                                    <i class="fa fa-eye"></i>
                                </button>
                                <button type="button" class="btn btn-secondary" title="Add to wishlist">
                                    <i class="fa fa-heart-o"></i>
                                </button>
                                <button type="button" class="btn btn-secondary" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                            </div>
                        </div>
                        <div class="product-bottom text-center">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <h3>Computer science</h3>
                            <h5>Rs.550</h5>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-top">
                            <a href="operating.system.hbs"> <img src="operating system.jpg"></a>
                            <div class="overlay-right">
                                <button type="button" class="btn btn-secondary" title="Quick shop ">
                                    <i class="fa fa-eye"></i>
                                </button>
                                <button type="button" class="btn btn-secondary" title="Add to wishlist">
                                    <i class="fa fa-heart-o"></i>
                                </button>
                                <button type="button" class="btn btn-secondary" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                            </div>
                        </div>
                        <div class="product-bottom text-center">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <h3>Operating Systems </h3>
                            <h5>Rs. 450</h5>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-top">
                            <a href="system-programming.hbs"> <img src="system programming.jpg"></a>
                            <div class="overlay-right">
                                <button type="button" class="btn btn-secondary" title="Quick shop ">
                                    <i class="fa fa-eye"></i>
                                </button>
                                <button type="button" class="btn btn-secondary" title="Add to wishlist">
                                    <i class="fa fa-heart-o"></i>
                                </button>
                                <button type="button" class="btn btn-secondary" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                            </div>
                        </div>
                        <div class="product-bottom text-center">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <i class="fa fa-star-o"></i>
                            <h3>System programming</h3>
                            <h5>Rs.400</h5>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-top">
                            <a href="compiler-design.hbs"> <img src="compiler design.jpg"></a>
                            <div class="overlay-right">
                                <button type="button" class="btn btn-secondary" title="Quick shop ">
                                    <i class="fa fa-eye"></i>
                                </button>
                                <button type="button" class="btn btn-secondary" title="Add to wishlist">
                                    <i class="fa fa-heart-o"></i>
                                </button>
                                <button type="button" class="btn btn-secondary" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                            </div>
                        </div>
                        <div class="product-bottom text-center">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <h3>Compiler Design </h3>
                            <h5>Rs.400</h5>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-top">
                            <a href="computer-science.hbs"> <img src="computer-science-500x500.png"></a>
                            <div class="overlay-right">
                                <button type="button" class="btn btn-secondary" title="Quick shop ">
                                    <i class="fa fa-eye"></i>
                                </button>
                                <button type="button" class="btn btn-secondary" title="Add to wishlist">
                                    <i class="fa fa-heart-o"></i>
                                </button>
                                <button type="button" class="btn btn-secondary" title="Add to cart">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                            </div>
                        </div>
                        <div class="product-bottom text-center">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <h3>Computer science</h3>
                            <h5>Rs.550</h5>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        {{!-- ----------------website features -----------------------}}
        <section class="website-features">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 feature-box">
                        <img src="secure-icon.png">
                        <div class="featured-text">
                            <p><b>100% Original products</b> are available at store</p>
                        </div>
                    </div>
                    <div class="col-md-3 feature-box">
                        <img src="return-icon.jpg">
                        <div class="featured-text">
                            <p><b>Return within 7 days</b> of receiving your order</p>
                        </div>
                    </div>
                    <div class="col-md-3 feature-box">
                        <img src="free-delivery-icon.jpg">
                        <div class="featured-text">
                            <p><b>Get free delivery for every </b> order on more than price</p>
                        </div>
                    </div>
                    <div class="col-md-3 feature-box">
                        <img src="pay-icon.png">
                        <div class="featured-text">
                            <p><b>Pay online through multiple</b> payment options</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>



    <footer>
        <div class="container text-center">
            <div class="row">
                <div class="col-md-3">
                    <h1>Useful Links</h1>
                    <p>Privacy Policy</p>
                    <p>Terms of Use</p>
                    <p>Return Policy</p>
                    <p>Discount Coupons</p>
                </div>
                <div class="col-md-3">
                    <h1>Company</h1>
                    <p>About Us</p>
                    <p>Contact Us</p>
                    <p>Career</p>
                    <p>Affiliate</p>
                </div>
                <div class="col-md-3">
                    <h1>Follow Us on</h1>
                    <p><i class="fa fa-twitter"></i> Twitter</p>
                    <p><i class="fa fa-linkedin"></i> Linkedin</p>
                    <p><i class="fa fa-github"></i> Github</p>
                    <p><i class="fa fa-youtube-play"></i> YouTube</p>
                </div>
                <div class="col-md-3">
                    <h1>Address</h1>
                    <p>Mhada colony, Near International Airport, Aurangabad, Mhaharashtra, India 431001</p>
                    <hr>
                    <p class="regards">Made with <i class="fa fa-heart-o"></i> Priya Kothalkar</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="script.js" type="text/javascript"></script>


</body>

</html>