<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lifestyle</title>
    <link href="loginstyle.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar">
        <i class="fa fa-bars" id="bars"></i>
        <i class="fa fa-times" id="times"></i>
        <div>
            <h1 class="site-name"><a href="index.hbs">Book Store</a></h1>
        </div>
        <div class="nav-ele">
            <ul>
                <li class="list"><i class="fa fa-user"></i><a href="register.hbs">Login</a></li>
                <li class="list carts"><i class="fa fa-shopping-cart"></i><a href="cart.hbs">Cart <span> 0</span></a>
                </li>
                <li class="list"><a href="about-us.hbs">About Us</a></li>
            </ul>
        </div>
    </nav>

    <section class="side-bar" id="sidemenu">
        <ul>
            <li class="list-ele">Books
                <i class="fa fa-angle-right"></i>
                <ul>
                    <li class="list-ele"><a href="arts-and-photo.hbs">Arts and Photography</a></li>
                    <li class="list-ele"><a href="biography.hbs">Biographies and Memoirs</a></li>
                    <li class="list-ele"><a href="body-mind.hbs">Body, Mind and spitit</a></li>
                    <li class="list-ele"><a href="business-and-economics.hbs">Business and Economics</a>
                    </li>
                    <li class="list-ele"><a href="environment.hbs">Environment and Geography</a></li>
                    <li class="list-ele"><a href="lifestyle.hbs">Lifestyle</a></li>
                    <li class="list-ele"><a href="fiction.hbs">Fiction</a></li>
                    <li class="list-ele"><a href="travel-and-holiday.hbs">Travel and Holiday</a></li>
                </ul>
            </li>
            <li class="list-ele">Text Books
                <i class="fa fa-angle-right"></i>
                <ul>
                    <li class="list-ele">Computer Science and Engineering</li>
                    <li class="list-ele">Civil Engineering</li>
                    <li class="list-ele">Mechanical Engineering</li>
                    <li class="list-ele">Electronics and Telecommunication Engineering</li>
                </ul>
            </li>
            <li class="list-ele">MBA </li>
            <li class="list-ele">Mtech </li>
        </ul>
    </section>

    <section class="on-sale component text-center">
        <div class="container">
            <div class="title-box">
                <h2>Lifestyle</h2>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="product-top">
                        <a href="building_a_life.hbs"><img src="building a life worth.jpg">
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick shop ">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to wishlist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to cart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                        </a>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <h3>Building a Life Worth Living</h3>
                        <h5>Rs.419</h5>
                
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-top">
                        <a href="voice_of_human.hbs"><img src="voice of human.jpg">
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick shop ">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to wishlist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to cart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                        </a>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <i class="fa fa-star-o"></i>
                        <h3>The VOice OF Human Justice</h3>
                        <h5>Rs.1361</h5>
    
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-top">
                        <a href="from_a_mountain.hbs"><img
                                src="from a mountain in tibet.jpg">
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick shop ">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to wishlist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to cart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                        </a>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <h3>From a Mountain in Tibet</h3>
                        <h5>Rs.517</h5>
    
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-top">
                        <a href="hungry_hearts.hbs"><img src="hungry hearts.jpg">
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick shop ">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to wishlist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to cart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                        </a>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <h3>Hungry Hearts</h3>
                        <h5>Rs.391</h5>
    
                    </div>
                </div>
            </div>
        </div>
    </section>



    <footer>
        <div class="container text-center">
            <div class="row">
                <div class="col-md-3">
                    <h1>Useful Links</h1>
                    <p>Privacy Policy</p>
                    <p>Terms of Use</p>
                    <p>Return Policy</p>
                    <p>Discount Coupons</p>
                </div>
                <div class="col-md-3">
                    <h1>Company</h1>
                    <p>About Us</p>
                    <p>Contact Us</p>
                    <p>Career</p>
                    <p>Affiliate</p>
                </div>
                <div class="col-md-3">
                    <h1>Follow Us on</h1>
                    <p><i class="fa fa-twitter"></i> Twitter</p>
                    <p><i class="fa fa-linkedin"></i> Linkedin</p>
                    <p><i class="fa fa-github"></i> Github</p>
                    <p><i class="fa fa-youtube-play"></i> YouTube</p>
                </div>
                <div class="col-md-3">
                    <h1>Address</h1>
                    <p>Mhada colony, Near International Airport, Aurangabad, Mhaharashtra, India 431001</p>
                    <hr>
                    <p class="regards">Made with <i class="fa fa-heart-o"></i> Priya Kothalkar</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="script.js" type="text/javascript"></script>
</body>

</html>