<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link href="loginstyle.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar">
        <i class="fa fa-bars" id="bars"></i>
        <i class="fa fa-times" id="times"></i>
        <!-- <div class="logo-align">
            <img src="logo-design.svg" id="logo">
        </div> -->
        <div>
            <h1 class="site-name"><a href="index.hbs">Book Store</a></h1>
        </div>
        <div class="nav-ele">
            <ul>
                <li class="list"><i class="fa fa-user"></i><a href="register.hbs">Login</a></li>
                <li class="list"><i class="fa fa-shopping-cart"></i>Cart</li>
                <li class="list"><a href="about-us.hbs">About Us</a></li>
            </ul>
        </div>
    </nav>

    <main>
        <section class="logincontainer">
            <h1>Welcome to our Book Store!</h1>
            <article class="loginarticle">
                <form action="/register" method="POST">
                    <div class="row g-3">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="First name" name="firstname" required/>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Last name" name="lastname" required/>
                        </div>
                    </div>
                    <hr>
                    <div class="row g-3">
                        <div class="col">
                            {{!-- <label for="inputCity" class="form-label">City</label> --}}
                            <input type="text" class="form-control" name="city" id="inputCity" placeholder="City" required/>
                        </div>
                        <div class="col">
                            {{!-- <label for="inputState" class="form-label">State</label> --}}
                            <input id="inputState" class="form-control" placeholder="State" name="state" type="text" required/>
                        </div>
                        <div class="col-md-2">
                            {{!-- <label for="inputZip" class="form-label">Zip</label> --}}
                            <input type="text" class="form-control" name="zip" placeholder="Zip code" id="inputZip" required/>
                        </div>
                    </div>
                    <hr>
                    <div class="mb-3">
                        {{!-- <label for="exampleInputEmail1" class="form-label">Email address</label> --}}
                        <input type="email" class="form-control" placeholder="Email address" id="exampleInputEmail1"
                            name="email" aria-describedby="emailHelp" required/>
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <hr>
                    <div class="col-12">
                        {{!-- <label for="inputAddress" class="form-label">Address Line 1</label> --}}
                        <input type="text" class="form-control" id="inputAddress" name="address"
                            placeholder="Enter your address" required/>
                    </div>
                    <hr>
                    <div class="mb-3">
                        {{!-- <label for="exampleInputPassword1" class="form-label">Password</label> --}}
                        <input type="password" placeholder="Enter Password" class="form-control" name="password"
                            id="exampleInputPassword" required/>
                    </div>
                    <div class="mb-3">
                        {{!-- <label for="exampleInputPassword1" class="form-label">Password</label> --}}
                        <input type="password" placeholder="Enter your Password again" class="form-control"
                            name="confirmpassword" id="exampleInputPassword1" required />
                    </div>
                    <input type="submit" class="btn btn-primary" value="Register" />

                    <hr>
                    {{!-- <hr> --}}
                    <div class="login">
                        Do you already have account?</div>
                        {{!-- <hr> --}}
                    <a href="./login.hbs" type="submit" class="btn btn-primary">Login</a>
                    
                </form>
            </article>
        </section>
    </main>


    <footer>
        <div class="container text-center">
            <div class="row">
                <div class="col-md-3">
                    <h1>Useful Links</h1>
                    <p>Privacy Policy</p>
                    <p>Terms of Use</p>
                    <p>Return Policy</p>
                    <p>Discount Coupons</p>
                </div>
                <div class="col-md-3">
                    <h1>Company</h1>
                    <p>About Us</p>
                    <p>Contact Us</p>
                    <p>Career</p>
                    <p>Affiliate</p>
                </div>
                <div class="col-md-3">
                    <h1>Follow Us on</h1>
                    <p><i class="fa fa-twitter"></i> Twitter</p>
                    <p><i class="fa fa-linkedin"></i> Linkedin</p>
                    <p><i class="fa fa-github"></i> Github</p>
                    <p><i class="fa fa-youtube-play"></i> YouTube</p>
                </div>
                <div class="col-md-3">
                    <h1>Address</h1>
                    <p>Mhada colony, Near International Airport, Aurangabad, Mhaharashtra, India 431001</p>
                    <hr>
                    <p class="regards">Made with <i class="fa fa-heart-o"></i> Priya Kothalkar</p>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>